html, body {
    text-align: center;
    background-color: #1338ab;
    color: #eddc23;
    padding-bottom: 30px;
}

table.gamelist {
    border-collapse: collapse;
    border: 2px solid white;
    max-width: 80vw;
    margin: auto;
}

table.gamelist thead th {
    border-bottom: 3px solid white;
    padding: 5px;
}

table.gamelist tbody td {
    border-top: 1px solid white;
    padding: 8px;
}

table.gamelist thead th, table.gamelist tbody td {
    border-right: 1px solid white;
}

table.gamelist img {
    display: block;
    width: 100px;
}
