html, body {
    text-align: center;
    background-color: #1338ab;
    color: #eddc23;
    padding-bottom: 30px;
}

.App {
    padding-right: 110px;
    position: relative;
}

.form-section {
    margin: 10px 0;
}

.form-section input, .form-section select, .form-section label, .form-section button {
    margin-left: 10px;
}

.failure {
    position: fixed;
    width: 300px;
    height: 100px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 3px solid black;
}

.close-box {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 1px solid #eddc23;
    padding: 5px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    background-color: #981234;
    color: #eddc23;
    cursor: pointer;
}

.loader-box {
    position: fixed;
    width: 90vw;
    max-width: 800px;
    height: 90vh;
    max-height: 500px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 3px solid black;
}

.loader-box .loader {
    box-sizing: border-box;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 50px auto;
    border: 20px solid rgba(19, 56, 171, 0.5);
    border-right-color: #1338ab;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#collection-info {
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    right: 0px;
    width: 100px;
    background-color: #981234;
    border: 1px solid #eddc23;
    padding: 10px;
    margin-right: 5px;
}

#collection-info ul {
    padding-left: 20px;
}

#collection-info li {
    list-style-type: circle;
}

.pagination-buttons {
    margin-bottom: 10px;
    margin-top: 10px;
}

table.gamelist {
    border-collapse: collapse;
    border: 2px solid white;
    max-width: 80vw;
    margin: auto;
}

table.gamelist thead th {
    border-bottom: 3px solid white;
    padding: 5px;
}

table.gamelist tbody td {
    border-top: 1px solid white;
    padding: 8px;
}

table.gamelist thead th, table.gamelist tbody td {
    border-right: 1px solid white;
}

table.gamelist img {
    display: block;
    width: 100px;
}

.game-list {
    position: relative;
}

.filter-option {
    cursor: pointer;
    font-weight: bold;
    list-style-type: none;
}

.filter-list {
    position: fixed;
    width: 300px;
    max-width: 80vw;
    max-height: 80vh;
    top: 50vh;
    left: 50vw;
    overflow-y: auto;
    padding: 20px 20px 50px 20px;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 3px solid black;
}

.wrapper {
    position: relative;
    height: 100%;
}

.filter-list .close-box {
    bottom: -40px;
    right: 0px;
}
